    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="form-group col-md-6 p-3 mt-3 card shadow bg-white rounded">
                    <div class="row p-2 m-2">
                        {% for info in data %}
                            <div class="form-group col-md-3 p-3 m-3 card shadow bg-white rounded" id="drag1" src="img_logo.gif" draggable="true" ondragstart="drag(event)">
                                <h2>{{ info }}</h2>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-6 p-3 mt-3 card shadow bg-white rounded" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
        </div>
    
    </body>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
    </html>