{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .drop{
          margin: auto;
          position: relative;
          margin-left: 196px;
          margin-top: 250px;
        }
		#div1 {
		  width: 550px;
		  height: 700px;
		  padding: 10px;
		  border: 6px solid black;
		  border-style: dashed;
		  margin-top: 10%;
          background-color: #FFF;
          opacity: 0.5;
          border-radius: 3%;
          transition: 1s;
		}
        #div1:hover {opacity:0.8}

		.logo{
			font-size: 200%;
			color: aliceblue;
		}
	</style>
	<form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="hs-text">
						<h2>E-Certificate</h2>
						<a href="#" class="site-btn sb-dark">Read more</a>
					</div>
				</div>
				<div class="col-lg-6">
						<input id="div1" type="file" ondrop="drop(event)" ondragover="allowDrop(event)" name="document">
                        <div class="drop">
                            <h4>Select File</h4>
							<button type="submit"> Upload it </button>
						</div>
				</div>
			</div>
		</div>
			<div class="hero-slider owl-carousel">
					<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/1.jpg' %}"></div>
					<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/2.jpg' %}"></div>
					<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/3.jpg' %}"></div>
			</div>
		</section>
	</form>
{% endblock %}