{% extends "base.html" %}
{% block contain %}
{% load static %}
<link rel="stylesheet" href="{% static 'singup.css' %}">
<div class="container">
    <div class="p-5 text-center">
        <h2><b>Sing Up E-certificate System</b></h2>
    </div>
    <form action="{% url 'singup' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first_name"><b>First Name ( ชื่อจริง )</b></label>
                <input type="text" class="form-control" placeholder="Your First Name" name="first_name"
                {% if error %}
                    value="{{ first_name }}"
                {% endif %} required>
            </div>
            <div class="form-group col-md-6">
                <label for="last_name"><b>Last Name ( นามสกุล )</b></label>
                <input type="text" class="form-control" placeholder="Your Last Name" name="last_name"
                {% if error %}
                    value="{{ last_name }}"
                {% endif %} required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username"><b>Username ( ชื่อผู้ใช้เข้าสู่ระบบ )</b></label>
                <input type="text" class="form-control" placeholder="Your Username" name="username"
                {% if error %}
                    value="{{ username }}"
                {% endif %} required>
            </div>
            <div class="form-group col-md-6">
                <label for="password"><b>Password ( รหัสผ่าน )</b></label>
                <input type="password" class="form-control" placeholder="Your Password" name="password"
                {% if error %}
                    value="{{ password }}"
                {% endif %} required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="username"><b>Email ( อีเมล )</b></label>
                <input type="text" class="form-control" placeholder="Your Email" name="email"
                {% if error %}
                    value="{{ email }}"
                {% endif %} required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {% if error %}
                    <small class="form-text text-danger text-center" style="margin-bottom: 4;">{{ error }}</small>
                {% else %}
                    <br>
                {% endif %}
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
                <small class="font-italic text-center form-text text-muted">© Copyright 2020 E-certificate</small>
            </div>
        </div>
    </form>
</div>
{% endblock contain %}